@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.light-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.feature-description{
    color: #727272;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
}
.nav-link{
    text-decoration: none;
    color: #424242;
}

.brand{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}

.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.banner-image{
    width: 100%;
    margin-bottom: 45px;
}

main{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

.teams{
    display: flex;
    gap: 76px;
    align-items: center;
    margin-bottom: 50px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-left: 60px;
}

.feature-details{
    max-width: 537px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.thin{
    color: #727272;
    font-weight: 500;
}

.orange{
    color: #FF900E;
}

/* Features You Will Love */

.features{
    display: flex;
    gap: 140px;
}

.feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-card{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 30px;
}

.feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.experience-badge{
    padding: 45px 42px;
}

#big-btn{
    margin-top: -100px;
    margin-left: -100px;
}
.jambo{
    font-size: 4rem;
    font-weight: bold;
    
}
.experience{
    font-size: 1.7rem;
    font-weight: 500;
}

.feature-image{
    width: 100%;
}
/* Some Facts */

.facts-card{
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.70rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 65px;
}

.fact-description{
    max-width: 542px;
    margin-bottom: 50px;
}

.sponsors-details{
    max-width: 542px;
    text-align: center;
    margin: 50px auto;
}

.sponsor-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
}

/* Responsive Media Query for Mobile Devices */

@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        width: 100%;
    }
    .feature-details{
        text-align: center;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .sponsor-images{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
    }

    .features{
        flex-direction: column;
    }

    #big-btn{
        margin-top: 20px;
        margin-left: 10px;
    }
}

/* Responsive Media Query for Medium Devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-images{
        width: 100%;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .facts-details {
        text-align: center;
    }

    .fact-description{
        margin: 20px auto;
    }

    .sponsor-images{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
    }

    .features{
        flex-direction: column;
    }

    #big-btn{
        margin-top: 20px;
        margin-left: 10px;
    }
}